USE [master]
GO
/****** Object:  Database [SeifMariano2D2doParcial]    Script Date: 24/11/2020 18:37:35 ******/
CREATE DATABASE [SeifMariano2D2doParcial]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SeifMariano2D2doParcial', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SeifMariano2D2doParcial.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SeifMariano2D2doParcial_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SeifMariano2D2doParcial_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SeifMariano2D2doParcial].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SeifMariano2D2doParcial]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 24/11/2020 18:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[domicilio] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[itemspedidos]    Script Date: 24/11/2020 18:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[itemspedidos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idPedido] [int] NOT NULL,
	[producto] [nvarchar](50) NOT NULL,
	[cantidad] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pedidos]    Script Date: 24/11/2020 18:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pedidos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idCliente] [int] NOT NULL,
	[estado] [int] NOT NULL,
	[delivery] [bit] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[clientes] ON 

INSERT [dbo].[clientes] ([id], [nombre], [domicilio]) VALUES (1, N'Pepe Peposo', N'Maure 900')
INSERT [dbo].[clientes] ([id], [nombre], [domicilio]) VALUES (2, N'Lucas', N'Roca 100')
INSERT [dbo].[clientes] ([id], [nombre], [domicilio]) VALUES (3, N'Eze', N'Rodriguez 1500')
SET IDENTITY_INSERT [dbo].[clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[itemspedidos] ON 

INSERT [dbo].[itemspedidos] ([id], [idPedido], [producto], [cantidad]) VALUES (1, 1, N'Hamburguesa', 2)
INSERT [dbo].[itemspedidos] ([id], [idPedido], [producto], [cantidad]) VALUES (2, 1, N'Coca', 2)
INSERT [dbo].[itemspedidos] ([id], [idPedido], [producto], [cantidad]) VALUES (3, 2, N'Ensalada', 1)
GO
SET IDENTITY_INSERT [dbo].[itemspedidos] OFF
GO
SET IDENTITY_INSERT [dbo].[pedidos] ON 

INSERT [dbo].[pedidos] ([id], [idCliente], [estado], [delivery]) VALUES (1, 1, 2, 0)
INSERT [dbo].[pedidos] ([id], [idCliente], [estado], [delivery]) VALUES (2, 2, 3, 1)
INSERT [dbo].[pedidos] ([id], [idCliente], [estado], [delivery]) VALUES (3, 3, 2, 0)
GO
SET IDENTITY_INSERT [dbo].[pedidos] OFF
GO
USE [master]
GO
